  nav {
    background: rgb(0, 110, 255);
  }

  ul{
    list-style-type: none;
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-content:center;
    justify-content: flex-end;
    margin-top: 0;
  
  }
  
  li{
    display:flex;
    align-items: center;
    justify-items: space-between;
    border-left: 1px solid #bbb;
    height:100%;
  }

  button{
    width:75px;
    height:inherit;
    background: grey;
  }

  .cards{
    background-color: white;
  }