/* .card--details{
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    margin-left: 5px;
    background-color: rgb(40,42,53, 0.3);
    width:100%;
    filter:drop-shadow(5px 5px 10px black);
} */

.card--title{
    align-self: center;
}

.card--sets{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 400px;
}
.set--header{
    align-self: center;
}

.set--name{
    margin-left: 10px;
}

.price_quantity{
    flex-direction: row;
    justify-self: flex-end;
    display: flex;
    justify-content: space-around;
}

span{
    font-weight: bold;
}