.card--img{
    height: 600px;
    width: 400px;
    padding: 5px;
}

.card--info{
    display:flex;
    flex-direction: row;
    padding: 5px;
}

div{
    display:flex;
    flex-direction: column;
}

.card--button{
    margin-left: 150px;
    width: 100px;
}