.card--price_quantity{
    border-radius: 15px;
    margin-left:5px;
    display:flex;
    flex-direction: Row;
    align-items: center;
    background-color: rgb(40,42,53,0.3);
    width: 400px;
    justify-content:space-around;
    filter:drop-shadow(5px 5px 10px black);
}

.card--img{
    height: 600px;
    width: 400px;
}

.card--info{
    display:flex;
    flex-direction: row;
    padding: 5px;
}